@using System.Collections;
@using Newtonsoft.Json;

@{
    Layout = "_MainAppLayout";
    ViewData["Title"] = "Task";

}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<header class="main-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="page-icon">
                    <i class="icon-laptop_windows"></i>
                </div>
                <div class="page-title">
                    <h5>Tasks</h5>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="right-actions">
                    <span class="last-login">  </span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="main-content">
    @{
        Object populationValue = "populationValue";
    }
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">Task</div>
                <div class="card-body">

                    <ejs-treegrid id="TreeGrid" dataSource="ViewBag.report" height="380" childMapping="Employees" treeColumnIndex="0" 
                    
                    queryCellInfo="queryCellInfo">
                        <e-treegrid-columns>
                            <e-treegrid-column field="ProjectCode" headerText="Project Code" textAlign="Right" width="95"></e-treegrid-column>
                            <e-treegrid-column field="ProjectName" headerText="Project Name" width="220"></e-treegrid-column>
                            <e-treegrid-column field="PlannedEffortHours" headerText="Planned Effort Hours" textAlign="Right" width="115"></e-treegrid-column>
                            <e-treegrid-column field="UsedEffortHours" headerText="Effort Hours Consumed" textAlign="Right" width="115"></e-treegrid-column>
                         
                            <e-treegrid-column field="EffortPercentage" headerText="Effort %" template="#EffortPercentageTemplate" allowFiltering="false" width="190"></e-treegrid-column>
                        </e-treegrid-columns>
                    </ejs-treegrid>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function queryCellInfo(args) {
      
        if (args.column.field === 'EffortPercentage') {
            if (args.data[args.column.field] <= 4) {
                ej.base.addClass([args.cell.querySelector('.bar')], ['progressdisable']);
            }
         
            if (!isNaN( args.data[args.column.field])){
                args.cell.querySelector('.barlabel').textContent = args.data[args.column.field] + '%';
                (args.cell.querySelector('.bar')).style.width = args.data[args.column.field] + '%';
            }
            else{
                args.cell.querySelector('.barlabel').textContent =  '0%';
                  (args.cell.querySelector('.bar')).style.width =  '0%';
            }
            
        }
    }

</script>
<script type="text/x-template" id="EffortPercentageTemplate">
    <div id="myProgress" class="pbar">
        <div id="myBar" class="bar">
            <div id="treegridlabel" class="barlabel"></div>
        </div>
    </div>
</script>


