@{
	Layout = "_MainAppLayout";
}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model CloudVOffice.Data.DTO.Accounts.FinancialYearDTO;

<header class="main-heading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
				<div class="page-icon">
					<i class="icon-laptop_windows"></i>
				</div>
				<div class="page-title">
					<h5>CRM Dashboard</h5>
					<h6 class="sub-heading">Welcome to Unify Admin Template</h6>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
				<div class="right-actions">
					<span class="last-login">Last Login: 2 hours ago</span>
				</div>
			</div>
		</div>
	</div>
</header>


<div class="main-content">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

			<div class="card">
				<form asp-route="Accounts/FinancialYear/FinancialYearCreate" method="post" autocomplete="off">
					<div asp-
						 ation-summary="ModelOnly" class="message-error"></div>


					<div class="card-header"><b>Basic Info</b></div>
					<div class="card-body">
						<div class="form-row">
							<div class="form-group col-md-3">
								<input asp-for="@Model.FinancialYearId" type="hidden" />

								<label for="StartDate" class="form-label">Start Date</label>
								<input asp-for="@Model.StartDate" type="date" class="form-control" autofocus="autofocus" placeholder="Start Date" />
								<span asp-validation-for="StartDate"></span>
							</div>
							<div class="form-group col-md-3">


								<label for="EndDate" class="form-label">End Date</label>
								<input asp-for="@Model.EndDate" type="date" class="form-control" autofocus="autofocus" placeholder="End Date" />
								<span asp-validation-for="EndDate"></span>
							</div>
							<div class="form-group col-md-3">


								<label for="FinancialYearName" class="form-label">FinancialYear Name</label>
								<input asp-for="@Model.FinancialYearName" type="text" class="form-control" autofocus="autofocus" placeholder="FinancialYear Name" />
								<span asp-validation-for="FinancialYearName"></span>
							</div>

						</div>

					</div>

					<div class="card-body">

						<div class="col-lg-2 col-md-2 col-sm-12">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</form>

			</div>



		</div>
	</div>

</div>