<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

	<ul class="list-group">
		<li class="list-group-item"><a href="/DesktopMonitoring/DesktopMonitoring/Track?EmployeeId=@Model">Candidate Selection</a></li>
		<li class="list-group-item"><a href="/DesktopMonitoring/DesktopMonitoring/ActivityLog?EmployeeId=@Model">Send Job Application For Screening</a></li>
		<li class="list-group-item"><a href="/DesktopMonitoring/DesktopMonitoring/WebActivityLog?EmployeeId=@Model">Schedule Interview</a></li>

		<li class="list-group-item"><a href="/DesktopMonitoring/DesktopMonitoring/FileLog?EmployeeId=@Model">Send Offer</a></li>

		<li class="list-group-item"><a href="/DesktopMonitoring/DesktopMonitoring/KeyStrokes?EmployeeId=@Model"></a></li>
		
	</ul>

</div>