<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="sqlite-net-pcl" version="1.8.116" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_green" version="2.0.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.0.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.4" targetFramework="net48" />
  <package id="Syncfusion.Core.WinForms" version="20.3.0.60" targetFramework="net40" requireReinstallation="true" />
  <package id="Syncfusion.Grid.Base" version="20.3.0.60" targetFramework="net40" requireReinstallation="true" />
  <package id="Syncfusion.Grid.Windows" version="20.3.0.60" targetFramework="net40" requireReinstallation="true" />
  <package id="Syncfusion.Licensing" version="20.3.0.60" targetFramework="net40" requireReinstallation="true" />
  <package id="Syncfusion.Shared.Base" version="20.3.0.60" targetFramework="net40" requireReinstallation="true" />
  <package id="Syncfusion.Shared.Windows" version="20.3.0.60" targetFramework="net40" requireReinstallation="true" />
  <package id="Syncfusion.SpellChecker.Base" version="20.3.0.60" targetFramework="net40" requireReinstallation="true" />
  <package id="Syncfusion.Tools.Base" version="20.3.0.60" targetFramework="net40" requireReinstallation="true" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
</packages>