<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
	<a class="block-300 center-text">
		<div class="user-profile">
			<img id="image" class="profile-thumb" />
			<h5 class="profile-name" id="Name"></h5>
			<h6 class="profile-designation" id="Department"></h6>
			<p class="profile-location" id="Degnation"></p>

		</div>
	</a>
</div>


<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

	<ul class="list-group">
		<li class="list-group-item"><a href="/DesktopMonitoring/DesktopMonitoring/Track?EmployeeId=@Model">Desktop Sessions</a></li>
		<li class="list-group-item"><a href="/DesktopMonitoring/DesktopMonitoring/ActivityLog?EmployeeId=@Model">Activity Log</a></li>
		<li class="list-group-item"><a href="/DesktopMonitoring/DesktopMonitoring/WebActivityLog?EmployeeId=@Model">Web Activity Log</a></li>

		<li class="list-group-item"><a href="/DesktopMonitoring/DesktopMonitoring/FileLog?EmployeeId=@Model">File Activity Log</a></li>
		@*<li class="list-group-item"><a href="/DesktopMonitoring/DesktopMonitoring/PrintLog?EmployeeId=@Model">Print Log</a></li>*@
		<li class="list-group-item"><a href="/DesktopMonitoring/DesktopMonitoring/KeyStrokes?EmployeeId=@Model">Key-Strokes</a></li>
		<li class="list-group-item"><a href="/DesktopMonitoring/DesktopMonitoring/UnproductiveLog?EmployeeId=@Model">Unproductive Log</a></li>
		@*<li class="list-group-item">Morbi leo risus</li>
		<li class="list-group-item">Porta ac consectetur ac</li>
		<li class="list-group-item">Vestibulum at eros</li>*@
	</ul>

</div>

<script>
	loadEmployeeDetails();
	function loadEmployeeDetails() {
		
		$.ajax({
			type: "GET",
			url: "/Hr/Employee/GetEmployeeDetailsByEmployeeId?EmployeeId=" + @Model,


			success: function (data, statusText, xhr) {
				console.log(data);
				$('#Name').html(data['fullName'])
				$('#Department').html(data['department']['departmentName'])
				$('#Degnation').html(data['designation']['designationName'])
				$("#image").attr("src", '/uploads/employee/' + data['photo']);
			},

		})


	}
</script>

