<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
	<a class="block-300 center-text">
		<div class="user-profile">
			<img src="img/avatar1.svg" class="profile-thumb" alt="User Thumb">
			<h5 class="profile-name">Shawn Williams</h5>
			<h6 class="profile-designation">UX Designer</h6>
			<p class="profile-location">Japan</p>
			<div class="ml-5 mr-5 chartist custom-two">
				<div class="team-act"><div class="chartist-tooltip" style="top: -78.9844px; left: 45.0312px;"><span class="chartist-tooltip-meta">Tasks</span><br><span class="chartist-tooltip-value">3</span></div><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="40px" class="ct-chart-line" style="width: 100%; height: 40px;"><g class="ct-grids"></g><g><g class="ct-series ct-series-a"><path d="M5,22.5C48,22.5,48,13.75,91,13.75C134,13.75,134,31.25,177,31.25C220,31.25,220,5,263,5" class="ct-line"></path><line x1="5" y1="22.5" x2="5.01" y2="22.5" class="ct-point" ct:value="2" ct:meta="Tasks"></line><line x1="91" y1="13.75" x2="91.01" y2="13.75" class="ct-point" ct:value="3" ct:meta="Tasks"></line><line x1="177" y1="31.25" x2="177.01" y2="31.25" class="ct-point" ct:value="1" ct:meta="Tasks"></line><line x1="263" y1="5" x2="263.01" y2="5" class="ct-point" ct:value="4" ct:meta="Tasks"></line></g></g><g class="ct-labels"></g></svg></div>
			</div>
		</div>
	</a>
</div>


<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
	
	<ul class="list-group">
		<li class="list-group-item">Cras justo odio</li>
		<li class="list-group-item">Dapibus ac facilisis in</li>
		<li class="list-group-item">Morbi leo risus</li>
		<li class="list-group-item">Porta ac consectetur ac</li>
		<li class="list-group-item">Vestibulum at eros</li>
	</ul>
	
</div>
