@{
    Layout = "_MainAppLayout";
}
@addTagHelper *, Syncfusion.EJ2
<header class="main-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="page-icon">
                    <i class="icon-laptop_windows"></i>
                </div>
                <div class="page-title">
                    <h5>Project</h5>
                    <h6 class="sub-heading">Welcome to Unify Admin Template</h6>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="right-actions">
                    <span class="last-login">Last Login: 2 hours ago</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main-content">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">Task</div>
                <div class="card-body">

                    <ejs-grid id="GridOverview" dataSource="ViewBag.TaskList"
                              allowFiltering="true" allowSorting="true"
                              allowExcelExport="true" allowGrouping="true"
                              allowMultiSorting="true"
                              allowPdfExport="true"
                              height="600" rowHeight="38"
                              enableHover="false" enableHeaderFocus="true"
                              enableVirtualization="true" allowSelection="true"
                              toolbarClick="toolbarClick" toolbar="@(new List<string>() {"ExcelExport", "PdfExport", "CsvExport" ,"Search"})">
                        <e-grid-editSettings allowAdding="false" allowDeleting="false" allowEditing="true" mode="Dialog" template='#dialogtemplate'></e-grid-editSettings>
                        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
                        <e-grid-selectionsettings persistSelection="true" type="Multiple" checkboxOnly="true"></e-grid-selectionsettings>
                        <e-grid-columns>
                            <e-grid-column field="ProjectCode" headerText="ProjectCode" textAlign="Left" width="200"></e-grid-column>
                            <e-grid-column field="ProjectName" headerText="ProjectName" textAlign="Left" width="200"></e-grid-column>
                            <e-grid-column field="TaskName" headerText="TaskName " textAlign="Left" width="200"></e-grid-column>
                            <e-grid-column field="ComplitedHour" headerText="ComplitedHour" textAlign="Left" width="200"></e-grid-column>
                            <e-grid-column field="EndDateAsPerPlan" headerText="EndDateAsPerPlan" textAlign="Left" width="200"></e-grid-column>
                            <e-grid-column field="ActualEndDate" headerText="ActualEndDate" textAlign="Left" width="200"></e-grid-column>
                          

                        </e-grid-columns>
                    </ejs-grid>
                </div>
            </div>
        </div>
    </div>

</div>



<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp">
        <form method="post" >

            </form>
    </div>
</script>
<script>

    function toolbarClick(args) {
        var gridObj = document.getElementById("GridOverview").ej2_instances[0];
        if (args.item.id === 'GridOverview_pdfexport') {
            gridObj.pdfExport();
        }
        if (args.item.id === 'GridOverview_excelexport') {
            gridObj.excelExport();
        }
        if (args.item.id === 'GridOverview_csvexport') {
            gridObj.csvExport();
        }
    }
    function exportQueryCellInfo(args) {
        if (args.column.headerText === 'Employee Image') {
            if (args.name === "excelQueryCellInfo") {
                args.image = { height: 75, base64: args.data["EmployeeImage"], width: 75 };
            } else {
                args.image = { base64: args.data["EmployeeImage"] };
            }
        }
        if (args.column.headerText === 'Track') {
            args.hyperLink = {
                target: "../../DMS/DesktopLogin/Track?id=" + args.data["erpUser"],
                displayText: "Track"
            };
        }
    };

</script>