@using System.Collections;
@using Newtonsoft.Json;

@{
    Layout = "_MainAppLayout";

}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<header class="main-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="page-icon">
                    <i class="icon-laptop_windows"></i>
                </div>
                <div class="page-title">
                    <h5>Tasks</h5>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="right-actions">
                    <span class="last-login">Last Login: 2 hours ago</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="main-content">
    <div class="row gutters">
        <ejs-kanban id="Kanban" keyField="TaskStatus" dataSource="@ViewBag.Tasks" dragStop="onCardRendered">
            <e-kanban-columns>
                <e-kanban-column headerText="Open" keyField="Open"></e-kanban-column>
                <e-kanban-column headerText="Working" keyField="Working"></e-kanban-column>
                <e-kanban-column headerText="Pending Review" keyField="PendingReview"></e-kanban-column>
                <e-kanban-column headerText="Overdue" keyField="Overdue"></e-kanban-column>
                <e-kanban-column headerText="Completed" keyField="Completed"></e-kanban-column>
                <e-kanban-column headerText="Cancelled" keyField="Cancelled"></e-kanban-column>
            </e-kanban-columns>
            <e-kanban-cardsettings headerField="ProjectTaskId" template="#cardTemplate"></e-kanban-cardsettings>

        </ejs-kanban>
    </div>
</div>


<script id="cardTemplate" type="text/x-jsrender">
    <div class='card-template'>
        <div class='e-card-header'>
            <div class='e-card-header-caption'>
                <div class='e-card-header-title e-tooltip-text'>${TaskName}</div>
            </div>
        </div>
        <div class='e-card-content e-tooltip-text'>
            <div class='e-text'>${TaskDescription}</div>
        </div>
        <div class='e-card-custom-footer'>

        </div>
    </div>
</script>


<script>

    function getAssignments(data) {
        console.log(data)
        return "   <div class='e-card-avatar'> KJ</div>";
    }
    function onCardRendered(args) {

        var taskId = args.data[0].ProjectTaskId
        var taskStatus = args.data[0].TaskStatus
        $.ajax({
            type: "POST",
            url: '/Projects/Task/ProjectTaskStatusUpdate',
            data: { ProjectTaskId: taskId, TaskStatus: taskStatus },
           
            success: function (result) {
                if (result == "1") {
                    sweetAlert({
                        html: true,
                        icon: "success",
                        title: "Task Complited By Others Reason",
                        text: "Successfully updated.",
                        type: "success"
                    }).then(function () {
                        window.location.reload();
                    });
                }
              
                else {
                  sweetAlert({
                    html: true,
                    icon: "error",
                    title: "Task",
                        text: "Status Update Failed",
                    type: "error"
                });
                }

            },
            error: function () {
                sweetAlert({
                    html: true,
                    icon: "error",
                    title: "Task",
                    text: "Status Update Failed",
                    type: "error"
                });
            }
        });
    }

</script>
<style>
    .e-kanban .e-card-footer-css {
        align-self: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 16px;
        width: 16px;
        margin-right: 8px;
    }

    .e-kanban .e-improvement {
        background-image: url(https://syncfusion.atlassian.net/secure/viewavatar?size=medium&avatarId=15507&avatarType=issuetype);
    }

    .e-kanban .e-story {
        background-image: url(https://syncfusion.atlassian.net/secure/viewavatar?size=medium&avatarId=15515&avatarType=issuetype);
    }

    .e-kanban .e-epic {
        background-image: url(https://syncfusion.atlassian.net/secure/viewavatar?size=medium&avatarId=15507&avatarType=issuetype);
    }

    .e-kanban .e-bug {
        background-image: url(https://syncfusion.atlassian.net/secure/viewavatar?size=medium&avatarId=15503&avatarType=issuetype);
    }

    .e-kanban .e-others {
        background-image: url(https://syncfusion.atlassian.net/images/icons/issuetypes/documentation.png);
    }

    .e-kanban .e-low {
        margin-right: auto;
        background-image: url(https://syncfusion.atlassian.net/images/icons/priorities/trivial.svg);
    }

    .e-kanban .e-high {
        margin-right: auto;
        background-image: url(https://syncfusion.atlassian.net/images/icons/priorities/major.svg);
    }

    .e-kanban .e-critical {
        margin-right: auto;
        background-image: url(https://syncfusion.atlassian.net/images/icons/priorities/critical.svg);
    }

    .e-kanban .e-release {
        margin-right: auto;
        background-image: url(https://syncfusion.atlassian.net/images/icons/priorities/critical.svg);
    }

    .e-kanban .e-normal {
        margin-right: auto;
        background-image: url(https://syncfusion.atlassian.net/images/icons/priorities/minor.svg);
    }

    .e-kanban .e-nancy-davloio {
        background-image: url(https://ej2.syncfusion.com/demos/src/kanban/images/Nancy%20Davloio.png);
    }

    .e-kanban .e-andrew-fuller {
        background-image: url(https://ej2.syncfusion.com/demos/src/kanban/images/Andrew%20Fuller.png);
    }

    .e-kanban .e-janet-leverling {
        background-image: url(https://ej2.syncfusion.com/demos/src/kanban/images/Janet%20Leverling.png);
    }

    .e-kanban .e-steven-walker {
        background-image: url(https://ej2.syncfusion.com/demos/src/kanban/images/Steven%20walker.png);
    }

    .e-kanban .e-michael-suyama {
        background-image: url(https://ej2.syncfusion.com/demos/src/kanban/images/Michael%20Suyama.png);
    }

    .e-kanban .e-robert-king {
        background-image: url(https://ej2.syncfusion.com/demos/src/kanban/images/Robert%20King.png);
    }

    .e-kanban .e-margaret-hamilt {
        background-image: url(https://ej2.syncfusion.com/demos/src/kanban/images/Margaret%20hamilt.png);
    }

    .e-kanban .e-nancy-davloio, .e-kanban .e-andrew-fuller, .e-kanban .e-janet-leverling,
    .e-kanban .e-steven-walker, .e-kanban .e-michael-suyama, .e-kanban .e-robert-king, .e-kanban .e-margaret-hamilt {
        border-radius: 72px;
        height: 24px;
        width: 24px;
    }

    .fluent-dark .e-kanban .e-kanban-table.e-content-table .e-card .e-card-tag.e-card-label,
    .bootstrap-dark .e-kanban .e-kanban-table.e-content-table .e-card .e-card-tag.e-card-label,
    .highcontrast .e-kanban .e-kanban-table.e-content-table .e-card .e-card-tag.e-card-label {
        background: #4b5563;
        color: #fff;
    }
</style>