
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Unify Admin Panel">
    <meta name="keywords" content="Admin, Dashboard, Bootstrap4, Sass, CSS3, HTML5, Responsive Dashboard, Responsive Admin Template, Admin Template, Best Admin Template, Bootstrap Template, Themeforest">
    <meta name="author" content="Bootstrap Gallery">
    <link rel="shortcut icon" href="img/favicon.ico">
    <title>Unify Admin Dashboard - Off Canvas Layout</title>

    <link href="../../../css?family=Open+Sans:300,400,700" rel="stylesheet">

    <!-- Common CSS -->
    <link rel="stylesheet" href="~/app/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/app/fonts/icomoon/icomoon.css">
    <link rel="stylesheet" href="~/app/css/main.css">
	<style>
		.apps {
			max-width: 850px !important;
		}
		@@media (min-width: 768px) .apps {
			max-width: 850px !important;
		}

		@@media (min-width: 1400px) .apps {
			max-width: 1320px;
		}


		@@media (min-width: 1200px) .apps {
			max-width: 1140px;
		}

		@@media (min-width: 992px) .apps {
			max-width: 960px;
		}

		@@media (min-width: 576px) .apps {
			max-width: 540px;
		}
	</style>
</head>
<body class="full-screen">

	<!-- BEGIN .app-wrap -->
	
		<!-- BEGIN .app-heading -->
		<header class="app-header">
			<div class="container-fluid">
				<div class="row gutters">
					<div class="col-xl-5 col-lg-5 col-md-5 col-sm-3 col-4">
						<a href="#app-side" data-toggle="onoffcanvas" class="onoffcanvas-toggler" aria-expanded="true">
							<i class="icon-chevron-thin-left"></i>
						</a>
					</div>
					<div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-4">
						<a href="index.html" class="logo">
							<img src="img/unify.png" alt="Unify Admin Dashboard">
						</a>
					</div>
					<div class="col-xl-5 col-lg-5 col-md-5 col-sm-3 col-4">
						<ul class="header-actions">
							<li class="dropdown">
								<a href="#" id="notifications" data-toggle="dropdown" aria-haspopup="true">
									<i class="icon-notifications_none"></i>
									<span class="count-label"></span>
								</a>
								<div class="dropdown-menu dropdown-menu-right lg" aria-labelledby="notifications">
									<ul class="imp-notify">
										<li>
											<div class="icon">W</div>
											<div class="details">
												<p><span>Wilson</span> The best Dashboard design I have seen ever.</p>
											</div>
										</li>
										<li>
											<div class="icon">J</div>
											<div class="details">
												<p><span>John Smith</span> Jhonny sent you a message. Read now!</p>
											</div>
										</li>
										<li>
											<div class="icon secondary">R</div>
											<div class="details">
												<p><span>Justin Mezzell</span> Stella, Added you as a Friend. Accept it!</p>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" id="todos" data-toggle="dropdown" aria-haspopup="true">
									<i class="icon-person_outline"></i>
									<span class="count-label red"></span>
								</a>
								<div class="dropdown-menu dropdown-menu-right lg" aria-labelledby="todos">
									<ul class="stats-widget">
										<li>
											<h4>$37895</h4>
											<p>Revenue <span>+2%</span></p>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
													<span class="sr-only">87% Complete (success)</span>
												</div>
											</div>
										</li>
										<li>
											<h4>4,897</h4>
											<p>Downloads <span>+39%</span></p>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
													<span class="sr-only">65% Complete (success)</span>
												</div>
											</div>
										</li>
										<li>
											<h4>2,219</h4>
											<p>Uploads <span class="text-secondary">-7%</span></p>
											<div class="progress">
												<div class="progress-bar bg-danger" role="progressbar" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100" style="width: 42%">
													<span class="sr-only">42% Complete (success)</span>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="dropdown">
								<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
									<img class="avatar" src="img/user.png" alt="User Thumb">
									<span class="user-name">@{}</span>
									<i class="icon-chevron-small-down"></i>
								</a>
								<div class="dropdown-menu lg dropdown-menu-right" aria-labelledby="userSettings">
									<ul class="user-settings-list">
										<li>
											<a href="profile.html">
												<div class="icon">
													<i class="icon-account_circle"></i>
												</div>
												<p>Profile</p>
											</a>
										</li>
										<li>
											<a href="profile.html">
												<div class="icon red">
													<i class="icon-cog3"></i>
												</div>
												<p>Settings</p>
											</a>
										</li>
										<li>
											<a href="filters.html">
												<div class="icon yellow">
													<i class="icon-schedule"></i>
												</div>
												<p>Activity</p>
											</a>
										</li>
									</ul>
									<div class="logout-btn">
										<a href="login.html" class="btn btn-primary">Logout</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- END: .app-heading -->
		<!-- BEGIN .app-container -->
		<div class="app-container">

			<!-- BEGIN .app-main -->
			<div class="app-main">
				<!-- BEGIN .main-heading -->
				
				<!-- END: .main-heading -->
				<!-- BEGIN .main-content -->
				<div class="main-content">
					@RenderBody()
				</div>
				<!-- END: .main-content -->
			</div>
			<!-- END: .app-main -->

		</div>
		<!-- END: .app-container -->
		<!-- BEGIN .main-footer -->
		<footer class="main-footer fixed-btm">
			Copyright Unify Admin 2017.
		</footer>
		<!-- END: .main-footer -->
	
	<!-- END: .app-wrap -->
	<!-- jQuery first, then Tether, then other JS. -->
	<script src="~/app/js/jquery.js"></script>
	<script src="~/app/js/tether.min.js"></script>
	<script src="~/app/js/bootstrap.min.js"></script>
	<script src="~/app/vendor/unifyMenu/unifyMenu.js"></script>
	<script src="~/app/vendor/onoffcanvas/onoffcanvas.js"></script>
	<script src="~/app/js/moment.js"></script>

	<!-- Common JS -->
	<script src="~/app/js/common.js"></script>
</body>
@await RenderSectionAsync("Scripts", required: false)
</html>