@{
    Layout = "_MainAppLayout";
    ViewData["Title"] = "Job Application";
}
@addTagHelper *, Syncfusion.EJ2
@using CloudVOffice.Core.Domain.Common;
<header class="main-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="page-icon">
                    <i class="icon-laptop_windows"></i>
                </div>
                <div class="page-title">
                    <h5>Candidate</h5>
                    <h6 class="sub-heading">  </h6>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="right-actions">
                    <span class="last-login">  </span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="main-content">
    <div class="row gutters">
         <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
            <div class="card">
                @Html.Partial("../Shared/_ReqProcessLinks.cshtml", (string)ViewBag.Jobid.ToString())
            </div>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
            <div class="card">
           
                <div class="card-body">

                    <ejs-grid id="GridOverview" dataSource="ViewBag.Candidate"
                              allowFiltering="true" allowSorting="true"
                              allowExcelExport="true" allowGrouping="true"
                              allowMultiSorting="true"
                              allowPdfExport="true"
                              height="600" rowHeight="38"
                              enableHover="false" enableHeaderFocus="true"
                              allowResizing="true" autoFit="true" dataBound="dataBound"
                              enableVirtualization="true" allowSelection="true"
                              toolbarClick="toolbarClick" toolbar="@(new List<string>() {"ExcelExport", "PdfExport", "CsvExport" ,"Search"})"     
                              actionComplete="actionComplete">
                        <e-grid-editSettings allowAdding="false"
                                             allowDeleting="false"
                                             allowEditing="true"
                                             mode="Dialog"
                                             template='#dialogtemplate'>

                        </e-grid-editSettings>
                        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>

                        <e-grid-selectionsettings persistSelection="true" type="Multiple" checkboxOnly="true"></e-grid-selectionsettings>
                        <e-grid-columns>
                            <e-grid-column field="JobApplicationId" headerText="JobApplication" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="JobId" headerText="Job" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="CandidateId" headerText="Candidate" textAlign="Left" width="120"></e-grid-column>
                            <e-grid-column field="Created" headerText="Created" textAlign="Left" width="120"></e-grid-column>
                           @* <e-grid-column field="CurrentStatus" headerText="Status" template="#statusTemplate" textAlign="Left" width="120"></e-grid-column>*@
                           
                        </e-grid-columns>
                    </ejs-grid>

                </div>
            </div>
        </div>
    </div>

</div>

<script id='dialogtemplate' type="text/x-template">
    <div id="dialogTemp" >
         <div class="form-row">



             <div class="form-group col-md-12">
                 <label for="Priority" class="form-label">Take Action</label>
                 <select id="TimeSheetApprovalStatus"  class="form-control"  name="TimeSheetApprovalStatus" >
                     <option value="1">Applied</option>
                     <option value="2">Submit For Screening</option>
                 </select>
             </div>


             <div class="form-group col-md-12">
                 <label for="Comment" class="form-label">Comment</label>

                  <textarea id="Comment"  class="form-control"  name = "Comment"  >
                     </textarea>


             </div>

         </div>



     </div>
</script>


<script id="statusTemplate" type="text/x-template">
    ${statusDetail(data)}
</script>



<script>
    function toolbarClick(args) {
        var gridObj = document.getElementById("GridOverview").ej2_instances[0];
        if (args.item.id === 'GridOverview_pdfexport') {
            gridObj.pdfExport();
        }
        if (args.item.id === 'GridOverview_excelexport') {
            gridObj.excelExport();
        }
        if (args.item.id === 'GridOverview_csvexport') {
            gridObj.csvExport();
        }
    }
    function exportQueryCellInfo(args) {
        if (args.column.headerText === 'Employee Image') {
            if (args.name === "excelQueryCellInfo") {
                args.image = { height: 75, base64: args.data["EmployeeImage"], width: 75 };
            } else {
                args.image = { base64: args.data["EmployeeImage"] };
            }
        }
        if (args.column.headerText === 'Track') {
            args.hyperLink = {
                target: "../../DMS/DesktopLogin/Track?id=" + args.data["erpUser"],
                displayText: "Track"
            };
        }
    };
    function actionComplete(args) {
        console.log(args);
        if (args.requestType === 'beginEdit') {
            var dialog = args.dialog;

            dialog.header = 'JobApplication Validation';

        }
        else if (args.requestType === 'save') {
            var model = { "Comment": args.data.Comment, "CurrentStatus": args.data.CurrentStatus, "JobApplicationId": args.data.JobApplicationId };
            console.log(
                model
            )
            $.ajax({
                type: "POST",
                url: '/Recruitment/JobApplication/JobApplicationCreate',
                data: model,

                success: function (result) {
                    console.log(result);
                    if (result == "10") {
                        sweetAlert({
                            html: true,
                            icon: "success",
                            title: "Job Application",
                            text: "Successfully Applied.",
                            type: "success"
                        });
                    }
                    else if (result == "11") {
                        sweetAlert({
                            html: true,
                            icon: "success",
                            title: "Job Application",
                            text: "Successfully Submit For Screening.",
                            type: "success"
                        });
                    }
                    else {
                        sweetAlert({
                            html: true,
                            icon: "error",
                            title: "Job Application",
                            text: message,
                            type: "error"
                        });
                    }

                },
                error: function () {

                }
            });

        }

    }




    function dataBound(args) {
        this.autoFitColumns();
    }
</script>



<script id="statusTemplate" type="text/x-template">
    ${statusDetail(data)}
</script>

<script>

    function statusDetail(e) {
        if (e.Status == 1) {
            return '<span>New</span>';
        } else if (e.Status == 2) {
            return '<span> Blacklisted </span>';
        }
        else if (e.Status == 3) {
            return '<span>Hired</span>';
        }
        else if (e.Status == 4) {
            return '<span>Rejected</span>';
        }
        else if (e.Status == 5) {
            return '<span>Offered</span>';
        }



    }


    function actionComplete(args) {
        console.log(args);
        if (args.requestType === 'beginEdit') {
            var dialog = args.dialog;

            dialog.header = 'Associate Job Opening';

        }
        else if (args.requestType === 'save') {
          

        }

    }

</script>