@using System.Collections;
@{
	Layout = "_MainAppLayout";
	ViewData["Title"] = "Schedule Interview";
}
@addTagHelper *, Syncfusion.EJ2
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<header class="main-heading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
				<div class="page-icon">
					<i class="icon-laptop_windows"></i>
				</div>
				<div class="page-title">
					<h5>Schedule Interview</h5>

				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
				<div class="right-actions">
					<span class="last-login">Last Login: 2 hours ago</span>
				</div>
			</div>
		</div>
	</div>
</header>



<div class="main-content">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
			<div class="card">
				<form asp-route="Projects/Timesheet/TimesheetCreate" method="post" autocomplete="off">
					<div asp-validation-summary="ModelOnly" class="message-error"></div>
					<div class="card-header"><b>Timesheet</b></div>
					<div class="card-body">
						<div class="form-row">
							<div class="form-group col-md-3">
							</div>
						</div>


						<div class="form-row" id="ProjectWork">
							<div class="form-group col-md-3">
								<label for="JobId" class="form-label">Job&nbsp;<span style="color:red;"><b>*</b></span></label>
								<ejs-dropdownlist id="JobId" allowFiltering="true" placeholder="Select Job" dataSource="@(new SelectList((IEnumerable)ViewBag.JobOpenings, "JobOpeningId", "JobTitle").Items)" popupHeight="220px" change="onJobChange">
									<e-dropdownlist-fields text="JobTitle" value="JobOpeningId"></e-dropdownlist-fields>
								</ejs-dropdownlist>

							</div>
							<div class="form-group col-md-3">
								<label for="JobApplicationId" class="form-label">Project Task&nbsp;<span style="color:red;"><b>*</b></span></label>
								<ejs-dropdownlist id="JobApplicationId" allowFiltering="true" placeholder="Select a Job Application" popupHeight="220px">
									<e-dropdownlist-fields text="applicantName" value="jobApplicationId   "></e-dropdownlist-fields>
								</ejs-dropdownlist>

							</div>



						</div>



					</div>


					<div class="card-body">
						<div class="col-lg-2 col-md-2 col-sm-12">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

<script>
	function onJobChange(args) {

		$.ajax({
			type: "GET",
			url: '/Recruitment/JobApplication/GetJobApplicationsByJobId',
			data: { JobId: args.value },
			contentType: "application/json;",
			dataType: "json",
			success: function (result) {

				var projectActivityDropDown = document.getElementById("JobApplicationId").ej2_instances[0];
				projectActivityDropDown.dataSource = result;
				//cityDropDown.refresh();
				projectActivityDropDown.dataBind();

			},
			error: function () {

			}
		});


	}

</script>